*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(75, 71, 71);
    height: 36rem;
}

.navbar{
    width: 100%;
    background-color: rgb(35, 34, 34);
    height: 3rem;
      
}
.navbar ul{
    display: flex;   
    flex-direction: row-reverse; 
}
.navbar ul li{
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 0 5px;
}
.center{
    margin: auto;
    text-align: center;
    width: 50%;
    padding-top: 10rem;
        
}
.center h1{
    font-size: 50px;
    margin: 8px;
}
.center{
    color:white;
}
.signup{
 background-color: aqua;
 padding: 5px;
 margin: 8px;
 border: transparent;
}
.login{
    background-color: white;
    padding: 5px;
    margin: 5px;
    border: transparent;
   }
Link li{
    text-decoration: none;
}